/*Colors*/

/*
#e60000
#2b2d42
#8d99ae
#edf2f4
#ef233c
*/

/*fonts*/

/*
So it'll use Arial when Helvetica isn't available

font-family: 'Helvetica', 'Arial', sans-serif;
*/


/**/
h1{
	font-family: 'Helvetica', 'Arial', sans-serif;
	size: 50px;
}


h2{
	font-family: 'Helvetica', 'Arial', sans-serif;
	size: 35px;
}

h3{
	font-family: 'Helvetica', 'Arial', sans-serif;
	size: 30px;
}

h4{
	font-family: 'Helvetica', 'Arial', sans-serif;
	size: 25px;
}

h5{
	font-family: 'Helvetica', 'Arial', sans-serif;
	size: 20px;
}

h6{
	font-family: 'Helvetica', 'Arial', sans-serif;
	size: 15px;
}

p{
	font-size: 22px;
	font-family: 'Helvetica', 'Arial', sans-serif;	
	padding:10px;
	border-bottom: 1px solid black;
}

/*Text IDs*/
#center-text{
	text-align: center;
}